<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILetsGoBikingService"  maxReceivedMessageSize="50000000" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/LetsGoBikingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILetsGoBikingService"
                contract="ServiceReference1.ILetsGoBikingService" name="WSHttpBinding_ILetsGoBikingService">
                <identity>
                    <userPrincipalName value="BOOK-HL4IN5DD5S\Elisa" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>