<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IGenericProxyCache" maxReceivedMessageSize="50000000" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8090/GenericProxyCache" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenericProxyCache" contract="ServiceReference1.IGenericProxyCache" name="BasicHttpBinding_IGenericProxyCache" />
		</client>
		<services>
			<service name="LetsGoBikingRoutingLibrary.LetsGoBikingService" behaviorConfiguration="serviceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="LetsGoBikingRoutingLibrary.ILetsGoBikingService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8090/LetsGoBikingService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">

					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />

					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="rest">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
</configuration>